/*-- scss:defaults --*/

$Navy-Blue: #234460;
$Charcoal-Grey: #36454f;
$Deep-Blue: #487191;
$Light-Grey: #aaa;
$White: #ffffff;
$Almost-Black: #0f0f0f;
$darkgrey: var(--darkgray);
$Silver: #ebebeb;
$Bright-Blue: #0d6efd;
$Off-White: #faf8f8;
$Medium-Grey: #666;
$Shifted-Orange: shift-color(#f95f34, -50%);
$Cool-Grey: #868e96;

$font-family_1: 'Merriweather', Georgia, Serif;
$font-family_2: 'Fira Sans', sans-serif;
$font-family_3: Hack, monospace;
$font-family_4: "Fira Sans", sans-serif;
$font-family_5: "Jost";
$font-family_6: "'Fira Sans', sans-serif ";
$background-color_1: #faf8f8;
$background-color_2: #ddd;
$background-color_3: var(--lightgray);
$background-color_4: #234460;
$background-color_5: rgba(207, 68, 70, 0.1);
$background-color_6: shift-color(#868e96, -75%);
$background-color_7: shift-color(#234460, -90%);
$background-color_8: shift-color(#FB9E07, -91%);
$background-color_9: shift-color(#868e96, -25%);
$border-color_1: shift-color(#868e96, -45%);

/* =Typography
-----------------------------------------------------------------------------*/
/* =Code
-----------------------------------------------------------------------------*/
/* Badges */
/* Then style the iframe to fit in the container div with full height and width */
/* Create four equal columns that sits next to each other */
/* Responsive layout - makes a two column-layout instead of four columns */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
:root {
	--bs-font-sans-serif: 'Fira Sans', sans-serif;
	--bs-font-monospace: "Hack", monospace;
}
body {
	font-family: $font-family_1;
	line-height: 2.5em;
	background-color: $background-color_1;
}
form {
	font-family: $font-family_2;
}
input[type="search"] {
	font-family: $font-family_2;
}
select[multiple="multiple"] {
	font-family: $font-family_2;
}
h2 {
	font-family: $font-family_2;
	color: $Charcoal-Grey;
	font-weight: bold;
	font-size: 1.4em;
	border-bottom: 1px solid #b3cde0;
	a {
		border-bottom: none;
	}
}
h3 {
	font-family: $font-family_2;
	color: $Charcoal-Grey;
	font-weight: bold;
	font-size: 1.2em;
}
h4 {
	font-family: $font-family_2;
	color: $Charcoal-Grey;
	font-weight: bold;
}
h5 {
	font-family: $font-family_2;
	color: $Charcoal-Grey;
	font-weight: bold;
}
h1 {
	font-size: 1.6em;
	padding-bottom: 1em;
	line-height: 1.6em;
}
h6 {
	font-size: 0.8em;
}
a {
	color: $Deep-Blue;
	text-decoration: none;
}
hr {
	border-top: 1px solid #b3cde0;
	margin-top: 5ex;
	margin-bottom: 5ex;
	max-width: 100%;
}
blockquote {
	background: #e9e9e9;
	border-left: 10px solid #ccc;
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
	font-style: normal;
	font-size: 95%;
	p {
		color: $Charcoal-Grey;
		display: inline;
	}
	&:before {
		color: $Light-Grey;
		content: open-quote;
		font-size: 4em;
		line-height: 0.1em;
		margin-right: 0.25em;
		vertical-align: -0.4em;
	}
}
.table {
	--bs-table-bg: @faf8f8 !important;
}
td {
	background-color: $background-color_1 !important;
}
th {
	background-color: $background-color_1 !important;
}
table {
	th {
		border-bottom: 0px !important;
		padding: 0.2em .2em;
	}
	td {
		border-bottom: 0px !important;
		padding: 0.2em .2em;
	}
}
ul {
	list-style: square;
}
dd {
	margin-left: 2em;
}
pre {
	font-size: 1em !important;
	font-style: normal;
	font-family: $font-family_3 !important;
	font-variant-ligatures: normal !important;
}
code {
	font-size: 1em !important;
	font-style: normal;
	font-family: $font-family_3 !important;
	font-variant-ligatures: normal !important;
	background-color: #e9ecef;
	color: #212529;
	padding: 0.1em 0.4em;
	border-radius: 0.25rem;
}
kbd {
	font-size: 1em !important;
	font-style: normal;
	font-family: $font-family_3 !important;
	font-variant-ligatures: normal !important;
}
samp {
	font-size: 1em !important;
	font-style: normal;
	font-family: $font-family_3 !important;
	font-variant-ligatures: normal !important;
}
var {
	font-size: 1em !important;
	font-style: normal;
	font-family: $font-family_3 !important;
	font-variant-ligatures: normal !important;
}
output {
	font-size: 1em !important;
	font-style: normal;
	font-family: $font-family_3 !important;
	font-variant-ligatures: normal !important;
}
nav {
	font-family: $font-family_2;
	font-size: 100%;
	margin-block-start: 0em;
	margin-block-end: -0.6em;
}
.footer {
	font-family: $font-family_2;
	font-size: 100%;
	p {
		margin-block-start: 0em;
		margin-block-end: -0.6em;
	}
}
.nav-footer {
	padding-bottom: 0 !important;
}
a.nav-link {
	&:hover {
		color: $White !important;
	}
}
a.navbar-brand {
	&:hover {
		color: $White !important;
	}
}
a.badge.badge-red {
	color: $White;
}
a.badge.badge-blue {
	color: $White;
}
a.badge.badge-green {
	color: $White;
}
.badge-large {
	font-size: 18px !important;
	text-transform: none !important;
	padding: 5px 5px 3px 5px;
	text-transform: none;
	font-family: $font-family_2;
}
.badge {
	font-family: $font-family_2;
	background: #e0e3e5;
	font-size: 12.75px;
	display: inline-block;
	line-height: 1;
	padding: 4px 7px 3px 7px;
	color: $Almost-Black;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
	border-radius: 15px;
	opacity: .75;
	&:hover {
		opacity: 1;
	}
}
.label {
	background: #e0e3e5;
	font-size: 12.75px;
	display: inline-block;
	line-height: 1;
	padding: 4px 7px 3px 7px;
	color: $Almost-Black;
	text-align: center;
	font-weight: normal;
	text-transform: uppercase;
}
.label-outline {
	background: none;
	border: 1px solid #0f0f0f;
	padding: 3px 6px 2px 6px;
}
.badge-small {
	font-size: 11.25px;
	padding: 5px 5px 3px 5px;
}
.label-black {
	color: $White !important;
	background: #0f0f0f;
}
.label-blue {
	color: $White !important;
	background: #4673B8;
}
.label-red {
	color: $White !important;
	background: #BD666D;
}
.label-green {
	color: $White !important;
	background: #2c9f42;
}
.badge-black {
	color: $White !important;
	background: #0f0f0f;
}
.badge-blue {
	color: $White !important;
	background: #4673B8;
}
.badge-red {
	color: $White !important;
	background: #BD666D;
}
.badge-green {
	color: $White !important;
	background: #2c9f42;
}
.label-yellow {
	background: #ffc800;
}
.badge-yellow {
	background: #ffc800;
}
.label-white {
	background: #ffffff;
}
.badge-white {
	background: #ffffff;
}
.label-grey {
	background: #cccccc;
}
.badge-grey {
	background: #cccccc;
	&:hover {
		background-color: $background-color_4;
		color: $Silver !important;
		opacity: .6;
		a {
			color: $Silver !important;
		}
	}
	a {
		border-bottom: 0 !important;
	}
}
.image-left {
	float: left;
	margin: 0 1em 1em 0;
}
.fa-ul {
	>li {
		margin: 0.5em;
	}
}
.quarto-title-meta {
	font-family: $font-family_2;
	background-color: $background-color_2;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.quarto-title-meta-heading {
	margin: 1ex 1ex 0 1ex !important;
}
.quarto-title-meta-contents {
	margin: 0ex 1ex 1ex 1ex !important;
}
.video-player {
	position: relative;
	overflow: hidden;
	width: 100%;
	padding-top: 56.25%;
}
.youtube-player {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.figure-caption {
	color: $White;
	background-color: $background-color_3;
	padding-left: 20px;
	font-size: 12pt;
	font-family: $font-family_2;
}
div.quarto-about-trestles {
	.about-entity {
		.about-link {
			&:hover {
				background-color: $background-color_4;
				color: $Silver;
			}
		}
	}
}
.quarto-category {
	&:hover {
		background-color: $background-color_4;
		color: $Silver !important;
		opacity: .6;
	}
	font-family: $font-family_4;
	line-height: 1.8em !important;
	padding: 1px 5px 0 5px;
	margin-left: -5px;
	margin-right: 5px;
}
.listing-category {
	&:hover {
		background-color: $background-color_4;
		color: $Silver !important;
		opacity: .6;
	}
	font-family: $font-family_4;
	line-height: 1.8em !important;
	padding: 1px 5px 0 5px;
	margin-left: -5px;
	margin-right: 5px;
}
.quarto-listing-category {
	font-family: $font-family_4;
}
.listing-actions-group {
	font-family: $font-family_4;
}
.about-link-text {
	font-family: $font-family_4;
}
#quarto-margin-sidebar {
	.category-default {
		font-size: 10pt;
	}
	.category {
		&:hover {
			color: $Bright-Blue;
		}
	}
}
.sidebar {
	nav[role=doc-toc] {
		>ul {
			a {
				&:hover {
					color: $Bright-Blue;
				}
			}
		}
	}
}
.quarto-categories {
	line-height: 1.8em !important;
	padding: 1px 5px 0 5px;
	margin-left: -5px;
	margin-right: 5px;
}
div.quarto-post {
	.metadata {
		font-size: .9em;
	}
	.listing-categories {
		.listing-category {
			background: #e9e9e9;
			color: $Navy-Blue;
			text-align: center;
			border-radius: 15px;
			font-size: 11.25px;
			padding: 1px 5px 0 5px;
			border: none;
			margin-left: -5px;
			margin-right: 9px;
		}
		&:hover {
			.listing-category {
				&:hover {
					background-color: $background-color_4;
					color: $Off-White !important;
					opacity: .6;
				}
			}
		}
	}
}
#mlb2-6650298.ml-form-embedContainer {
	.ml-form-embedWrapper {
		.ml-form-embedBody {
			.ml-form-horizontalRow {
				input {
					color: $Medium-Grey !important;
					font-family: $font-family_4 !important;
				}
				button {
					font-family: $font-family_4 !important;
				}
			}
		}
	}
}
.imgrow {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
}
.imgcolumn {
	flex: 25%;
	max-width: 25%;
	padding-right: 0px;
	padding-left: 0px;
	text-align: center;
	img {
		margin-top: 0px;
		vertical-align: middle;
	}
}
.list {
	li {
		margin: 10px 0;
	}
}
#quarto-appendix.default {
	background-color: $background-color_1;
	border-top: none;
	padding-top: 0;
	.quarto-appendix-heading {
		font-size: 1.3em !important;
		border-bottom: 1px solid #b3cde0;
		padding-bottom: 0.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}
.quarto-title-block {
	.haiku {
		text-align: right;
		font-family: $font-family_5;
		margin: 1.3em 0;
		font-size: 1.6em;
		font-weight: 300;
		font-style: italic;
	}
	.quarto-title {
		.quarto-categories {
			padding-bottom: 0;
			flex-wrap: wrap;
			row-gap: 0.4em;
		}
	}
	.project-details {
		background-color: $background-color_5;
		padding: 0.75em;
		margin: 1em 0;
	}
	.quarto-title-meta-heading.manual {
		margin-top: 2em !important;
	}
	.project-links {
		padding: 0;
		margin-bottom: 0;
	}
	.project-link {
		display: inline-block;
		white-space: nowrap;
		padding: 0 1em 0 0;
		font-weight: bold;
	}
}
.back-nav {
	margin-bottom: 1.5em;
}
.research {
	.back-nav {
		a {
			color: $Shifted-Orange;
		}
	}
	.quarto-title {
		.quarto-categories {
			.quarto-category {
				background-color: $background-color_6;
				color: $Cool-Grey;
				font-size: 0.65em;
				opacity: 1;
			}
		}
	}
	.project-categories {
		display: flex;
		flex-wrap: wrap;
		margin: 0.35em 0 0.35em;
		padding-top: 0.35em;
		padding-left: 0.5em;
		padding-bottom: 0;
		row-gap: 0.4em;
		column-gap: 0.4em;
		font-family: $font-family_5;
		.project-category {
			padding: 0.25em 0.75em 0.25em 0em;
			font-size: 0.7em;
			text-transform: uppercase;
		}
	}
}
.project-list {
	ul {
		list-style: none;
		padding: 0;
		margin: 0 0 2em;
		li.project {
			margin-bottom: 2.5em;
			border-left: 6px solid shift-color(#234460, -90%);
			p {
				margin: 0;
			}
		}
	}
	.project-content {
		padding-left: 0.5em;
		.status {
			font-size: 1rem;
			font-weight: 250;
			padding: 0.2em;
			margin-right: 0.5em;
		}
	}
	.haiku {
		margin: 0.4rem 0 0rem;
		font-family: $font-family_5;
		font-weight: 300;
		font-style: italic;
		text-align: right;
		color: $Cool-Grey;
		font-size: 1.1em;
	}
	ul.project-links {
		margin-bottom: 0;
	}
	.project-details-listing {
		margin-top: 0.8em;
		background-color: $background-color_7;
		font-size: 0.9rem;
		.project-link {
			display: inline-block;
			white-space: nowrap;
			padding: 0.5em 0.5em 0.5em 1em;
		}
		.details {
			background-color: $background-color_4;
			padding-right: 1.5em;
			a {
				color: $White;
			}
		}
	}
}

.talks {
	.talk-entry {
		display: flex;
		flex-direction: row;
		font-family: $font-family_4;
		line-height: 1.3;
		margin-bottom: 1.5em;
		column-gap: 1em;
		.body {
			flex: 1 0 80%;
		}
		.metadata {
			flex: 1 0 20%;
		}
		.title {
			font-weight: 500;
			font-size: 1.2em;
			margin-bottom: 0.2em;
			line-height: 1.2;
		}
		.description {
			font-weight: 300;
			font-size: 1em;
			margin-bottom: 0.3em;
		}
		.date {
			font-weight: 300;
			font-size: 0.85em;
			margin-top: 0.3em;
			text-align: right;
		}
		ul.talk-links {
			padding: 0 0.5em;
			background-color: $background-color_8;
			margin-bottom: 0;
			.talk-link {
				display: inline-block;
				white-space: nowrap;
				margin: 0;
				padding: 0.5em 1em 0.5em 0;
				font-size: 0.85em;
			}
		}
	}
}
.home {
	.quarto-title-banner {
		margin-bottom: 0;
	}
}
#title-block-header {
	.quarto-title-banner {
		font-family: $font-family_4;
		.description {
			font-size: 1.1em;
			margin-top: 1em !important;
		}
	}
}


.blog {
	.blog-entry {
		display: flex;
		flex-direction: row;
		font-family: $font-family_6;
		line-height: 1.3;
		margin-bottom: 1.5em;
		column-gap: 1em;
		.metadata {
			flex: 0 0 8%;
		}
		.body {
			flex: 1 1 auto;
		}
		.thumbnail {
			flex: 0 0 25%;
			img {
				width: 100%;
				object-fit: cover;
				max-height: 120px;
			}
		}
		.title {
			font-weight: 500;
			font-size: 1.3em;
			margin-bottom: 0.2em;
			line-height: 1.2;
		}
		.description {
			font-weight: 300;
			font-size: 1em;
			margin-bottom: 0.3em;
		}
		.date {
			font-weight: 300;
			font-size: 0.85em;
			margin-top: 0.3em;
			text-align: right;
		}
		.post-categories {
			display: flex;
			flex-wrap: wrap;
			row-gap: 0.4em;
			column-gap: 0.4em;
			margin: 0.5em 0;
			.post-category {
				color: $Cool-Grey;
				border: 1px solid #adb5bd;
				border-radius: 0.25rem;
				text-transform: uppercase;
				font-size: 0.65em;
				padding: 0.15em 0.5em;
				cursor: pointer;
			}
		}
		.post-doi {
			font-weight: 300;
			font-size: 0.85em;
			margin: 0.5em 0;
			text-align: right;
			.doi-icon {
				width: 1.1em;
				padding-bottom: 1px;
			}
			a {
				color: $Cool-Grey;
			}
		}
	}
}
.blog-post {
	.quarto-title {
		.quarto-categories {
			margin-top: 1.5em;
			.quarto-category {
				background-color: $background-color_9;
				border-color: $border-color_1;
				color: $White;
				font-size: 0.65em;
				opacity: 1;
			}
		}
	}
	.quarto-title-author-orcid {
		img {
			margin-bottom: -3px;
		}
	}
	.quarto-title-meta-contents {
		.doi {
			&::before {
				content: "";
				background-image: url(/files/doi.svg);
				background-size: 1.1em;
				display: inline-block;
				width: 1.1em;
				height: 1.1em;
				margin-bottom: -3px;
			}
		}
	}
}
@media screen and (max-width: 800px) {
	.imgcolumn {
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.imgcolumn {
		flex: 100%;
		max-width: 100%;
	}
}
@media (max-width: 768px) {
	.project-list {
		.haiku {
			font-size: 0.95rem;
		}
		.project-details-listing {
			font-size: 0.95rem;
		}
	}
}


